
<footer>
	<section class="container">
		<section class="row">
			<section class="col-6 col-md-4">
				<ul>
					<li><a href="">About</a></li>
					<li><a href="">History</a></li>
					<li><a href="">Press Kit</a></li>
					<li><a href="">Social Media</a></li>
				</ul>
			</section>
			<section class="col-6 col-md-4">
				<ul>
					<li><a href="/">Home</a></li>
					<% if (typeof member == 'undefined') { %>
					<li><a href="/register">Register</a></li>
					<li><a href="/login">Log In</a></li>
					<% } else { %>
					<li><a href="/profile">Profile</a></li>
					<li><a href="/settings">Settings</a></li>
					<br/>
					<li><a href="/logout">Log Out</a></li>
					<% } %>
				</ul>
			</section>
			<section class="col-12 col-md-4">
				<h3>Company</h3>
				<p>123 Address Street<br/>
					City, State<br/>
					Country<br/>
					<br/>
					Copyright &copy; 2021


				</p>
			</section>
		</section>
	</section>
</footer>

<script src="bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>
