<%- include('header.html') %>

<section class="banner">
	<section class="container">
		<h3>Social</h3>
	</section>
</section>
<style>
	.banner {
		padding-top: .15rem;
		color: white;
		height: 2.5rem;
		background: var(--brand-color);
	}
</style>

<section class="container">
	<section class="row">
		<section class="col-12 col-md-3 col-lg-4">

			<img src="/photos/<%= member.profile || 'empty-profile.png' %>" 
				class="profile-photo"
				onclick="chooseProfilePhoto()" />
			<h4 class="title"><%= member.first_name %> <%= member.last_name %></h4>
			<form method="post" 
				enctype="multipart/form-data"
				action="/change-profile-photo"
				class="change-photo">
				<input type="file" 
					class="form-control-file" 
					name="photo"
					onchange="changeProfilePhoto()" />
			</form>
			<p id="asset">Asset ...</p>
			<p id="stake">Staking ...</p>
		</section>
		<section class="col-12 col-md-9 col-lg-8">
			<form method="post" action="/post-status">
				<textarea name="detail"
					class="form-control"
					rows="4"
					placeholder="Your Status"
					></textarea>
				<button class="btn btn-primary">Post</button>
			</form>
			<%  for (var i in all) { 
					var detail = all[i].detail || ""
					detail = detail.trim()
			%>
				<section class="message">
					<%= detail %>
				</section>
				<time>
					<%= all[i].time %>
					<a href="/remove/<%= all[i].number %>">Remove</a>
				</time>
			<%  } %>
		</section>
	</section>
</section>

<style>
	.title {
		text-align: center;
	}
	form {
		max-width: 100%;
	}
	input[type=file] {
		width: 10rem;
		background: #ccc;
		border: 1px dashed #ccc;
	}
	input[type=file]:hover {
		background: none;
		border: 1px dashed pink;
	}
	.change-photo {
		display: none;
	}
	.profile-photo {
		transition: opacity 0.25s linear;
		margin: 0 auto;
		display: block;
	}
	.profile-photo:hover {
		opacity: .8;
	}
	.message {
		white-space: pre-line;
	}
	time {
		font-size: 0.6rem;
		color: #aaa;
		display: block;
	}
	#asset,
	#stake {
		margin-bottom: 0;
		text-align: center;
	}
</style>
<script>
	function chooseProfilePhoto() {
		var e = document.querySelector('input[name=photo]')
		e.click()
	}
	function changeProfilePhoto() {
		document.querySelector('.change-photo').submit()
	}
</script>

<script src="abi.js"></script>
<script>
	var web3 = new Web3(ethereum)
	var contractAddress = "0xD19454A65706773E3F5709267A8Cc42f932fCe9a"
	var contract = new web3.eth.Contract(contractABI, contractAddress)
	var address = "<%= member.wallet %>"

	if (address == "") {
			document.querySelector("#asset").innerHTML = "Guest"
			document.querySelector("#stake").innerHTML = "Guest"
	} else {
		web3.eth.getBalance(address)
		.then(v => {
			var target = document.querySelector("#asset")
			var value = +web3.utils.fromWei(v) || 0
			target.innerHTML = "Asset " + value.toFixed(4)
		})
		contract.methods.balance(address).call({},
				function(error, result) {
					console.log(error)
					console.log(result)
					var target = document.querySelector("#stake")
					var value = +web3.utils.fromWei(result) || 0
					target.innerHTML = "Staking " + value.toFixed(4)
				})
	}
</script>

<%- include('footer.html') %>
