<%- include('header.html') %>

<section class="container">
	<section class="row">
		<section class="col-12 col-md-3 col-lg-4">
			<img src="/photos/<%= target.profile %>"
				class="profile-photo" />
			<h4 class="title"><%= target.first_name %> <%= target.last_name %></h4>
			<p id="asset">Asset ...</p>
			<p id="stake">Staking ...</p>
		</section>
		<section class="col-12 col-md-9 col-lg-8">
			<%  for (var i in all) { 
					var detail = all[i].detail || ""
					detail = detail.trim()
			%>
			<section class="message">
				<%= detail %>
			</section>
			<time><%= all[i].time %></time>
			<%  } %>
		</section>
	</section>
</section>
<style>
	.profile-photo {
		margin: 0 auto;
		display: block;
	}
	.title {
		text-align: center;
	}
	.message {
		white-space: pre-line;
	}
	time {
		font-size: 0.6rem;
		color: #aaa;
		display: block;
	}
	#asset,
	#stake {
		margin-bottom: 0;
		text-align: center;
	}
</style>

<script src="abi.js"></script>
<script>
	var web3 = new Web3(ethereum)
	var contractAddress = "0xD19454A65706773E3F5709267A8Cc42f932fCe9a"
	var contract = new web3.eth.Contract(contractABI, contractAddress)
	var address = "<%= target.wallet %>"

	if (address == "") {
			document.querySelector("#asset").innerHTML = "Guest"
			document.querySelector("#stake").innerHTML = "Guest"
	} else {
		web3.eth.getBalance(address)
		.then(v => {
			var target = document.querySelector("#asset")
			var value = +web3.utils.fromWei(v) || 0
			target.innerHTML = "Asset " + value.toFixed(4)
		})
		contract.methods.balance(address).call({},
				function(error, result) {
					console.log(error)
					console.log(result)
					var target = document.querySelector("#stake")
					var value = +web3.utils.fromWei(result) || 0
					target.innerHTML = "Staking " + value.toFixed(4)
				})
	}
</script>

<%- include('footer.html') %>
